
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=jqlTZllbrR2yc8C3q/g/fA==,iDoLDA3DCQT9I3r3JbUH8g==,0rQ6to7116SBX80I18C/1Q==,ITC/sWA9EBeMNeXLCuDPWg==
API_TOKEN_SALT=lQ42qWJr9WV0fSodC2PAlw==
ADMIN_JWT_SECRET=D/ipjSkq/AVuTVRWF67bOw==
TRANSFER_TOKEN_SALT=1JOR2upjfoKtN5Wt9UjYSQ==
ENCRYPTION_KEY=bOqDojgHhI8CMK+ZHnzBFg==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=JJU1vaibwGIK30q4279YFA==
